<h1>Essa é a pagina do exemplo!!!</h1>

<img src="https://conteudo.imguol.com.br/blogs/136/files/2017/02/chicoscience.jpg" alt="" width="800px">

<h3>Chico Science e nação zumbi é vida</h3>

@{
    int conta = 5;
    for (int i = 0; i <= 20; i++)
    {
        int res = i*conta;
        <p>@conta x @i = @res</p>
    }
}